<div class="main row">
  <div class="col-md-6">
  </div>
  <div class="col-md-4">
    <div><h1 class="name">VIVEK KUMAR</h1></div>
    <div><h5 class="heading">WEB DEVELOPER</h5></div>
  </div>
</div>


<div class="row">
  <div class="col-md-4" style="background-color: silver;height:1000px;text-align: center">
    <div><img class="profile-img" src="../assets/px.jpeg"></div>
    <div><h2>CONTACT</h2></div>
    <div><h4>Phone</h4></div>
    <div><h6>7020533486</h6></div>
    <div><h4>E-mail</h4></div>
    <div><h6>kumarvivek313@gmail.com</h6></div>
    <div><h4>Home</h4></div>
    <div><h6>kharadi,pune</h6></div>
    <div><h2>Skills</h2></div>
      <div class="row">
        <div class="col-md-6">
          <div><h4>Html5</h4></div>
          <div><progress max="100" min="1" value="76"></progress></div>
          <div><h4>JavaScript</h4></div>
          <div><progress max="100" min="1" value="76"></progress></div>
          <div><h4>Php</h4></div>
          <div><progress max="100" min="1" value="76"></progress></div>
        </div>
        
        <div class="col-md-6">
            <div><h4>Css3</h4></div>
            <div><progress max="100" min="1" value="76"></progress></div>
            <div><h4>Angular</h4></div>
            <div><progress max="100" min="1" value="76"></progress></div>
            <div><h4>Jquery</h4></div>
            <div><progress max="100" min="1" value="76"></progress></div>
          </div>
      </div>

  </div>



  <div class="col-md-8" style="background-color: aqua;height: 1000px">
        <div><i class="fa fa-intersex" style="font-size:36px;">About Me</i></div>
        <a routerLink="/contacts" routerLinkActive="active">contacts
        </a>
        <a routerLink="/mathes">mathes</a>
        
  </div>
</div>

